#exchange-rates {
    border-collapse: collapse;
    min-width: 280px;
}

#exchange-rates th {
    text-align: center;
    padding: 7px;
    font-size: 11px;
}

#exchange-rates td {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}

#exchange-rates td:first-child {
    border: 0;
    font-weight: bold;
    font-size: 11px;
    padding: 7px;
    padding-left: 0;
}

#exchange-rates caption {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
    text-align: left;
}

#exchange-rates caption img {
    width: 22px;
    height: 22px;
}